doctype html
html(lang="en")
  head
    base(href=htmlWebpackPlugin.options.baseHref)
    meta(charset="UTF-8")
    title ngx-card - Angular 2+ wrapper for card.js
    link(rel="shortcut icon", href="img/favicon.ico")
    link(rel="stylesheet", type="text/css", href="assets/styles/salesforce-lightning-design-system.min.css")
    link(rel="stylesheet", type="text/css", href="index.css")

  body(style="overflow-x: hidden")
    app
      div(style="position:fixed;top:49%;width:100%;text-align:center;font-size:large;") Loading...


      script(src="https://unpkg.com/card@2.3.0/dist/card.js")
      //- Google analytics
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-102369051-1', 'auto');
        ga('send', 'pageview');
